@page
@using Microsoft.AspNetCore.Authorization
@model IndexModel
<h1>Добро пожаловать!</h1>

<ul>
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Panel">Админ панель</a></li>
    }
    else
    {
        <li><a asp-page="/Courses">Список курсов</a></li>
        <li><a asp-page="/Answers">Мои ответы</a></li>
    }
</ul>